/*sol sekil*/

.zeminSekiler{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #62306D;
    justify-content:center ;
    align-items: center;
    align-content: center;
    width: 25vw;
    height: 60vh;
}

#ikinciKutu {
    border-radius: 50% 50% 0% 0%;
    background-color: #F7EC7D;
}

#dorduncuKutu {
    border-radius: 0% 0% 50% 50%;
    background-color: #F7EC7D;
}

#altinciKutu {
    border-radius: 0% 0% 50% 50%;
    background-color: #F7EC7D;
}